@model CategoryRestaurantsViewModel

<main class="row " id="restaurant-content">
	<aside class="col-sm-4 col-md-3 col-xl-2 ps-4 pt-4">
		<div class="food-category-widget">
			<h5 class="fw-800">Food Categories</h5>
			<div class="bottom-dots  clearfix">
				<span class="dot line-dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
			</div>
		</div>
		<div class="food-category-items pt-3 pe-3">
			@foreach (var category in Model.AllCategories)
			{
				<div class="d-flex justify-content-between">
					<label class="category-checkbox">
						<input type="checkbox" name="categories" @(category.Id == Model.SelectedCategory ? "checked" : "") value="@category.Id" id="category-@category.Id">
						<span class="check"></span>
						@category.Name
					</label>
					<div class="category-restaurants">
						<p>@category.RestaurantCategories.Count</p>
					</div>
				</div>
			}


		</div>
	</aside>
	<div class="col-sm-8 col-md-9 col-xl-10 bg-light" id="main-content">
		
		<partial name="_Restaurants" model="@Model.CategoryRestaurants" />

	</div>
</main>
@section Styles {
	<link href="~/css/home_restaurant.css" rel="stylesheet" />
}
@section Scripts{
	<script>
		$(function () {
			$('input[type="checkbox"][name="categories"]').on('click', function () {
				var selectedCategories = $('input[type="checkbox"][name="categories"]:checked').map(function () {
					return $(this).val()
				}).get();

				// send ajax request to retrieve restaurants data
				$.ajax({
					url: "/Restaurant/GetFilteredData",
					method: "post",
					data: {
						CategoryIds: selectedCategories
					},
					success: function (res) {
						$('#main-content').html(res);

						if ($('.js-render-restaurants').text().trim() == '') {
							$('.js-render-restaurants').html(`<div class="alert alert-primary" role="alert">
								No restaurants available!
							</div>`);
						}
					}
				})
			});
			$('#category-')
			
		});

		
	</script>
}