@model MenuItemFormViewModel

<div class="d-flex flex-column flex-column-fluid  container-fluid ">

    <!--begin::Toolbar-->
    <div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">


        <!--begin::Page title-->
        <div class="page-title d-flex flex-column me-3">
            <!--begin::Title-->
            <h1 class="d-flex text-gray-900 fw-bold my-1 fs-3">
                @(Model.Id > 0 ? "Update" : "Add") Item
            </h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7 my-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-gray-600">
                    <a asp-action="Index" class="text-gray-600 text-hover-primary">
                        Items
                    </a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-gray-600">
                    @(Model.Id > 0 ? "Update" : "Add") Item
                </li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
        
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="content flex-column-fluid" id="kt_content">

        <!--begin::Contacts App- Add New Contact-->
        <div class="row g-7">
            <!--begin::Content-->
            <div class="col-xl-6">
                <!--begin::Contacts-->
                <div class="card card-flush h-lg-100" id="kt_contacts_main">
                    <!--begin::Card header-->
                    <div class="card-header pt-7" id="kt_chat_contacts_header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <i class="ki-duotone ki-badge fs-1 me-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>            <h2>@(Model.Id > 0 ? "Update" : "Add New") Item</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-5">
                        <!--begin::Form-->
                        <form asp-controller="MenuItem" asp-action="@(Model.Id > 0 ? "Update" : "Create")" class="form" method="post" enctype="multipart/form-data">
                            <!--begin::Input group-->
                            <div class="mb-7">
                                <!--begin::Label-->
                                <label asp-for="Image"/>
                                <!--end::Label-->
                                <!--begin::Image input wrapper-->
                                <div class="mt-1">

                                    <!--begin::Image placeholder-->
                                    <style>
                                        .image-input-placeholder {
                                            background-image: url('/assets/images/blank-image.svg');
                                        }

                                        [data-bs-theme="dark"] .image-input-placeholder {
                                            background-image: url('/assets/images/blank-image-dark.svg');
                                        }
                                    </style>
                                    <!--end::Image placeholder-->
                                    <!--begin::Image input-->
                                    <div class="image-input image-input-outline image-input-placeholder image-input-empty image-input-empty " data-kt-image-input="true">
                                        <!--begin::Preview existing avatar-->
                                        <div class="image-input-wrapper w-200px h-200px" style="background-image: url('@(Model.Id > 0 ? Model.ImagePath : "")')"></div>
                                        <!--end::Preview existing avatar-->
                                        <!--begin::Edit-->
                                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
                                            <i class="fa-solid fa-pen"></i>
                                            <!--begin::Inputs-->
                                            <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg">
                                            <input type="hidden" name="avatar_remove">
                                            <!--end::Inputs-->
                                        </label>
                                        <!--end::Edit-->
                                        <!--begin::Cancel-->
                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                                            <i class="bi bi-x-lg"></i>
                                        </span>
                                        <!--end::Cancel-->
                                        <!--begin::Remove-->
                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                                            <i class="bi bi-x-lg"></i>
                                        </span>
                                        <!--end::Remove-->
                                    </div>
                                    <!--end::Image input-->
                                </div>
                                <!--end::Image input wrapper-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="mb-5 fv-row fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label class="required form-label" asp-for="Name"></label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" asp-for="Name" class="form-control form-control-solid mb-2" placeholder="Item name" />
                                <!--end::Input-->
                                <span asp-validation-for="Name" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
                            </div>
                            <!--end::Input group-->
                            
                            <!--begin::Row-->
                            <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                                <!--begin::Col-->
                                <div class="col">
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7 fv-plugins-icon-container">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold form-label mt-3">
                                            <label asp-for="SellingPrice" class="required"></label>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text" class="form-control form-control-solid" asp-for="SellingPrice" value="@(Model.Id > 0 ? Model.SellingPrice : "")" placeholder="Selling price">
                                        <!--end::Input-->
                                        <span asp-validation-for="SellingPrice" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
                                    </div>
                                    <!--end::Input group-->

                                </div>
                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col">
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7 fv-plugins-icon-container">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold form-label mt-3">
                                            <label asp-for="MainPrice" class="required"></label>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text" class="form-control form-control-solid" asp-for="MainPrice" value="@(Model.Id > 0 ? Model.MainPrice : "")" placeholder="Main price">
                                        <!--end::Input-->
                                        <span asp-validation-for="MainPrice" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
                                    </div>
                                    <!--end::Input group-->

                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                            <!--begin::Row-->
                            <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                                <!--begin::Col-->
                                <div class="col">
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7 fv-plugins-icon-container">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold form-label mt-3">
                                            <label asp-for="CategoryId" class="required"></label>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <select class="form-select form-select-solid js-select2" asp-items="Model.Categories" data-control="select2" data-placeholder="Select categories" asp-for="CategoryId">
                                            <option></option>
                                        </select>
                                        <!--end::Input-->
                                        <span asp-validation-for="CategoryId" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
                                    </div>
                                    <!--end::Input group-->

                                </div>
                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col">
                                    <!--begin::Input group-->
                                    <div class="fv-row mb-7 fv-plugins-icon-container">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold form-label mt-3">
                                            <label asp-for="RestaurantId" class="required"></label>
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <select class="form-select form-select-solid js-select2" asp-items="Model.Restaurants" data-control="select2" data-placeholder="Select restaurants" asp-for="RestaurantId">
                                            <option></option>
                                        </select>
                                        <!--end::Input-->
                                        <span asp-validation-for="RestaurantId" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
                                    </div>
                                    <!--end::Input group-->

                                </div>
                                <!--end::Col-->
                                
                            </div>
                            <!--end::Row-->
                            <!--begin::Input group-->
                            <div class="row">

                                <div class="mb-5 fv-row fv-plugins-icon-container">
                                    <label class="required form-label" asp-for="Description"></label>
                                    <textarea asp-for="Description" class="form-control form-control-solid mb-2" placeholder="Enter description for item..."></textarea>
                                    <span asp-validation-for="Description" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></span>
                                </div>

                            </div>
                            <!--end::Input group-->
                            <!--begin::Separator-->
                            <div class="separator mb-6"></div>
                            <!--end::Separator-->
                            <!--begin::Action buttons-->
                            <div class="d-flex justify-content-end">
                                <!--begin::Button-->
                                <a asp-action="Index" asp-controller="MenuItem" class="btn btn-light me-3">
                                    Cancel
                                </a>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" data-kt-contacts-type="submit" class="btn btn-primary">
                                    <span class="indicator-label">
                                        Save
                                    </span>
                                    <span class="indicator-progress">
                                        Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                                <!--end::Button-->
                            </div>
                            <!--end::Action buttons-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Contacts-->

            </div>
            <!--end::Content-->
        </div>
        <!--end::Contacts App- Add New Contact-->
    </div>
    <!--end::Post-->
    
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}